.container{
    margin: auto;
    max-width: 1110px;
}
.container h1{
    text-align: center;
}
.heading{
    align-items: center;
    background-color: #26272b;
    border-radius: 8px;
    box-shadow: 0 0 12px #18191b;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}
.coin-row{
    align-items: center;
    background-color: #26272b;
    border-radius: 8px;
    box-shadow: 0 0 12px #18191b;
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}
.img-symbol{
    align-items: center;
    display: flex;
}
.img-symbol img{
    width: 20px;
    margin-right: 5px;
}